    <meta charset="utf-8">
    <title>{{ meta-title }}</title>

    <meta name="viewport" content="width=device-width initial-scale=1 shrink-to-fit=no">

    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="noarchive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="{{ meta-title }}">
    <meta name="description" content="{{ meta-description }}">
    <meta name="keywords" content="{{ meta-keywords }}">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <link rel="icon" type="image/png" href="media/images/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="media/images/favicon/favicon.svg" />
    <link rel="shortcut icon" href="media/images/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="media/images/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="media/images/favicon/site.webmanifest" />

    {{! Project CSS }}
  <link type="text/css" rel="stylesheet" href="css/{{ htmlWebpackPlugin.options.pkg.name}}.css?v={{ htmlWebpackPlugin.options.timestamp }}">