<div class="figure-container">
	<figure class="{{#if class}}{{class}}{{/if}}">
		<div class="">
			<picture>
				<!--[if IE 9]><video style="display: none;><![endif]-->
				<source
						data-srcset="{{cdn}}media/images/{{name}}.{{ext}}"
						media="--device">
				<source
						data-srcset="{{cdn}}media/images/{{name}}@2x.{{ext}}, {{cdn}}media/images/{{name}}@2x.{{ext}} 2x"
						media="--laptop">
				<source
						data-srcset="{{cdn}}media/images/{{name}}@2x.{{ext}}">
				<!--[if IE 9]></video><![endif]-->
				<img
						{{#if id}}id="{{id}}"{{/if}}
						{{!-- width="{{width}}" height="{{height}}" --}}
						src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20{{width}}%20{{height}}'%3E%3C/svg%3E"
						data-src="{{cdn}}media/images/{{name}}.{{ext}}"
						class="{{#unless deferLazy}}lazyload plx{{/unless}} {{imgClasslist}}"
						alt="{{alt}}">
			</picture>
			<svg width="{{width}}" height="{{height}}" viewBox="0 0 {{width}} {{height}}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			</svg>
		</div>
		{{#if caption}}
			<figcaption>{{{caption}}}</figcaption>
		{{/if}}
	</figure>
	{{!-- <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut </figcaption> --}}
</div>